.login-wrapper, .dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.login-btn, .update-btn {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(9, 88, 236);
  border: none;
  color: #fff;
}

#username, #password {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

.dashboard-inner-wrapper {
  width: 60%;
}

#apikey {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  width: 60%;
}

.update-btn {
  width: auto;
}